html, body{
    height: 100%;
    width:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar {
    background-color:#1d79b8 ;
    padding: 1% 0;
    font-size: 1.2em;
    
}
.navbar-brand img{
    max-width: 100px;
    max-height: 100px;
    /* padding: 0px 15px 5px; */
}

    
    
    
    
    
    
    